* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f6f6fb;
    padding: 20px;
}

/* Container */
.container {
    max-width: 1500px;
    margin: auto;
}

/* Header */
.notification-header {
    background: white;
    border: 1px solid #ece8ff;
    border-radius: 20px;
    padding: 25px 35px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.04);
}

.icon-box {
    width: 70px;
    height: 70px;
    background: #f2ebff;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box i {
    font-size: 34px;
    color: #5b2eff;
}

.title-section h1 {
    font-size: 46px;
    color: #0f1630;
}

/* Notification List */
.notification-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification-card {
    background: white;
    border-radius: 18px;
    padding: 22px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
    cursor: pointer;
}

.notification-card:hover {
    transform: translateY(-3px);
}

.card-icon {
    width: 60px;
    height: 60px;
    background: #f2ebff;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon i {
    color: #5b2eff;
    font-size: 25px;
}

.card-content h3 {
    color: #151b36;
    margin-bottom: 6px;
}

.card-content p {
    color: #6d728a;
    margin-bottom: 8px;
}

.card-content span {
    color: #8d93aa;
    font-size: 14px;
}

.unread {
    border-left: 5px solid #5b2eff;
}